.nav-container{
    height: 80px;
    background-color: rgb(0, 29, 75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    position: sticky;
    top: 0;
}
.nav-logo{
    font-size: 2rem;
    margin-left: 20px;
}
.nav-items-container{
    margin-right: 20px;
}
.nav-items a{
    text-decoration: none;
    color: #ffff;
    padding: 0 20px;
    font-size: 1.2rem;
};


@media only screen and (max-width: 600px) {
    .nav-logo{
      font-size: 1rem;
    }
    .nav-items a{
        font-size: 1rem;
    }
  }
